#Head{
    width: 100%;
    border-bottom: 1px solid black;
    line-height: 48px;
    #HeadOne{
        margin-left: 1%;
    }
    #HeadTwo{
        margin-left: 1%;
        font-size: 18px;
    }
    #HeadThree{
        margin-left: 3%;
    }
}