#Right{
    width: 100%;
    display: inline-block;
    vertical-align:top;
    #RightHead{
        border-bottom: 1px solid black;
        height: 48px;
        display: inline-block;
        width: 100%;
        #RightHeadBlockOne{
            display: inline-block;
            line-height: 48px;
            width: 20%;
            margin-left: 5%;
            font-size: 18px;
        };
        #RightHeadBlockTwo{
            display: inline-block;
            width: 15%;
        }
    }
}